
h1 {
    text-align: center;
}

form {
    text-align: center;
}

#btnResult {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.candidato {
    border: 3px solid black;
    border-radius: 70px;
    text-align: center;
    display: inline-block;
    margin: 20px;

}
